<h1>Planter</h1>

<p><%= link_to "Pull Request ##{@pull_request_number}", pull_request_url(@pull_request_number) %></p>

<p>Associated issues:</p>

<ul>
<% @issue_numbers.each do |issue_number| %>
  <li><%= link_to "Issue ##{issue_number}", issue_url(issue_number) %></li>
  <ul>
    <li><%= link_to "Seed", plant_seed_url(issue_number) %></li>
    <li><%= link_to "Deseed", plant_deseed_url(issue_number) %></li>
  </ul>
<% end %>
</ul>

<p><%= link_to "Reset application state", reset_plants_url %></p>
